/* background overlay */
.bg-image {
    filter: brightness(40%);
}

.box-shadow {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* media query */
@media only screen and (max-width:401px) {
    .slider h6 {
        font-size: 20px;
    }

    .slider p {
        font-size: 12px;
    }

    .slider .carousel-caption {
        margin-top: 20px;
    }
}