/* background overlay */
.bg-image {
    filter: brightness(40%);
}

/* media query for xtra small device to show the text in front of the slider*/
@media only screen and (max-width:401px) {
    .slider h6 {
        font-size: 20px;
    }

    .slider p {
        font-size: 12px;
    }

    .slider .carousel-caption {
        margin-top: 20px;
    }

}